@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply scroll-smooth;
}

.scroll-hide:-webkit-scrollbar {
  display: none;
}
.scroll-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
